doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./style/header.css")
		link(rel="stylesheet", href="./style/footer.css")
		link(rel="stylesheet", href="./style/contacts.css")
		link(rel="icon", href="../Icons/fav/0.gif")
		link(rel="shortcut icon", href="../Icons/fav/0.gif")
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Inspiration&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
		title CakeStudio
		script(src="../JS/circletype.min.js", preload)
		script(defer, src="../JS/header.js")
		script(src='https://code.jquery.com/jquery-3.6.4.slim.js' integrity='sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=' crossorigin='anonymous')
		script(src="https://cdn.lordicon.com/ritcuqlt.js")
		script(src="../JS/update_page.js")
	body
		include ./modules/header.pug
		.top-block-wrapper
			section.page-top.maxwidth-theme
				.topic
					.topic__inner
						.topic__heading
							h1#pagetitle Контакты
				#navigation
					.breadcrumbs.swipeignore(itemscope='' itemtype='http://schema.org/BreadcrumbList')
						#bx_breadcrumb_0.breadcrumbs__item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
							a.breadcrumbs__link(href='./index.html' title='Главная' itemprop='item')
								span.breadcrumbs__item-name.font_xs(itemprop='name') Главная
								meta(itemprop='position' content='1')
						span.breadcrumbs__separator —
						span.breadcrumbs__item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
							a(href='./contacts.html' itemprop='item')
							span
								span.breadcrumbs__item-name.font_xs(itemprop='name') Контакты
								meta(itemprop='position' content='2')
		.wrapper_inner_half.row.flexbox.shop-detail1.clearfix(itemscope='' itemtype='http://schema.org/Organization')
			.item.item-shop-detail1.col-md-6
				.left_block_store
					.top_block
						// 'start_frame_cache_header-allcimg-block1'
						.contacts_img
							img.lazyloaded(data-lazyload='' src='../Images/logo.jpg')
						// 'end_frame_cache_header-allcimg-block1'
					.bottom_block
						.properties.clearfix
							.col-md-6.col-sm-6
								// 'start_frame_cache_header-allcaddr-block1'
								.property.address
									.title.font_upper.muted Адрес
									div(itemprop='address')
										| Москва, Костомаровский пер., дом 3с8
								// 'end_frame_cache_header-allcaddr-block1'
								.property.schedule
									.title.font_upper.muted Режим работы
									div
										| Пн. – Вс.: 10:00 - 23:00
							.col-md-6.col-sm-6
								// 'start_frame_cache_header-allcphones-block1'
								.property.phone
									.title.font_upper.muted Телефон
									div
										.value.darken(itemprop='telephone')
											a(title='с 10.00 до 23.00' href='tel:84952942418') 8 (495) 294-24-18
										.value.darken(itemprop='telephone')
											a(title='Бесплатно по России' href='tel:88005509311') 8 (800) 550-93-11
										.value.darken(itemprop='telephone')
											a(title='Написать в ВотсАп' href='whatsapp://send?phone=79265036041') WhatsApp
								// 'end_frame_cache_header-allcphones-block1'
								// 'start_frame_cache_header-allcemail-block1'
								.property.email
									.title.font_upper.muted E-mail
									div
										.value.darken(itemprop='email')
											a(href='mailto:CakeStudio@gmail.com') CakeStudio@gmail.com
								// 'end_frame_cache_header-allcemail-block1'
						.social-block
							.wrap
								.social-icons
									// noindex
									ul
										li.vk
											a(href='https://vk.com' target='_blank' rel='nofollow' title='Вконтакте')
												| Вконтакте
										li.ytb
											a(href='https://www.youtube.com' target='_blank' rel='nofollow' title='YouTube')
												| YouTube
										li.tiktok
											a(href='https://vm.tiktok.com' target='_blank' rel='nofollow' title='TikTok')
												| TikTok
									// /noindex
						.feedback.item
							.wrap
								// 'start_frame_cache_header-allcdesc-block1'
								.previewtext.muted777(itemprop='description')
									| В Москве находится производство тортов на заказ. Вы можете заказать доставку или забрать торт самовывозом.
								// 'end_frame_cache_header-allcdesc-block1'
					.clearboth
			.item.col-md-6.map-full.padding0
				iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3Ab2e1d16df928abdf86df6cf20738d8d83f71676c2c9415c3aa20f655400b3959&source=constructor' width='100%' height='600px' frameborder='0')
			

		include ./modules/footer.pug